div.wrapper {
  margin-top: 30px;
}

.notFound {
  margin-top: 100px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #aaa;
}

.resultsWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.resultsWrapper > * {
  width: 32%;
  margin-left: 2%;
  margin-bottom: 20px;
}

.resultsWrapper > *:nth-child(3n + 1) {
  margin-left: 0;
}
